/*Popup simples*/
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#sobrenos{

  left: 35%;
  position: sticky;
  color:white;
}
/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/*Sumir quando aparecer*/
#sumir{
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(20,20,20, 0.5);
  color: white;
  animation: fadeOut ease 6s both;animation-fill-mode: both;;
  visibility: visible;
  display: table;
  padding: 6px;
  border-radius: 20px 5px;
}
#hora{

  animation: fadeIn 1.5s;
  margin-left: 65%;
  margin-bottom: -0.1%;
  position: static;
  white-space: normal;
  display:table;
  font-size: 14px;
  background-color: rgba(0,0,0, 0.3);
  color: white;
  padding: 3px;
  border-radius: 20px;
  border-color: rgba(255,255,255,0);
  transition: 0.5s;
}
#hora:hover{
  border-radius: 0px;
  font-size: 16px;
  padding: 3px;
  transition: 0.5s;
  background-color: rgba(255,255,255, 0.8);
  color: black;
}
/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0.0;}
  to {opacity:1 ;}
}
@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
    visibility: hidden;
  }
}
/*------------*/
a {
  color: #FFFFFF;
}
body{

  background: linear-gradient(to right bottom,#7108cf,#6993db);
  font-family: monospace;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*Aqui vai mudar a cor da caixa do formulário*/
fieldset{
  border-radius: 20px;
  color:white;
  font-size: 20px;
  color: rgba(156, 99, 207, 1);
  background-color: rgba(15, 14, 15, 0.9);
  box-shadow: 0 0 10px #666;
  border: 1px solid #666;
  border-radius: 8px;
  width:calc(20% + 250px);
  margin-left: auto;
  margin-right: auto;
}
legend{
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 8px;
  transition: 0.5s;
  white-space: normal;
  display:table;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s;
}
legend:hover{
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0.2px;
  color: black;
  font-size: 22px;
  transition: 0.3s;
}
input{
  border-radius: 20px;
  font-family: monospace;
}
/*Essa div será para guardar os dados, logo será invisivel os seus inputs.*/
#guardardados{
  visibility: hidden;
}

input[type=text], input[type=password], input[type=email]{
  border-radius: 4px;
  padding: 4px;
  font-family: monospace;
  width: 51%;
  border-width: 3px;
  border-color: rgba(0, 0, 255, 0.4);
  background-color:rgba(255, 255, 255, 0.9);
  transition: 0.6s;
}
input[type=text]:hover, input[type=password]:hover,input[type=email]:hover{
  border-radius: 20px;
  padding: 4.5px;
  width: 53%;
  font-size: 16px;
  border-color: rgba(0, 0, 255, 0.4);
  background-color:rgba(255, 255, 255, 0.9);
  transition: 0.4s;
}
textarea {
  width: 30%;
  height: 35%;
}
h1{
  background-color: rgba(179, 243, 255, 0.3);
  border-radius: 20px;
  padding: 20px;
  font-family: monospace;
}
p{
  background-color: rgba(0,0,0,0.2);
  border-radius:10px; /*Isso regula a volta da borda*/
  border-color: #CEF6F5;
  border-width: 2px;
  padding: 5px;
  border-style: solid;
  white-space: normal;
  display:table;
  font-family: monospace;
}
button, input[type=submit] {
  display: flex;
  cursor: pointer;
  outline: none;
  word-wrap: break-word;
  white-space: normal;
  display: inline-block;
  background-color: #FFFFFF;
  padding: 5px;
  border-radius: 4px;
  border-color:rgba(0,0,0,0);
  width: 22%;
  font-size: 14px;
  transition: 0.5s;
}

button:hover, input[type=submit]:hover {
  width: 20%;
  border-radius: 8px;
  font-size: 15px;
  transition: 0.5s;
  background-color: #A4A4A4;
}

button:active, input[type=submit]:active {
  background-color: #FAFAFA;
  box-shadow: 0 5px #666;
  width: 15%;
  transition: 0.2s;
  transform: translateY(4px);
}
/*Custumizando as tabelas:*/

table{
  width:98%;
  table-layout: fixed;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  padding: 2px;
  border-radius: 5px;
  transition: 0.8s;
}
table:hover{
  width:100%;
  table-layout: fixed;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  padding: 10px;
  border-radius: 20px;
  transition: 0.6s;
}
#fielddata{
  border-radius: 20px;
  color:white;
  color: rgba(156, 99, 207, 1);
  background-color: rgba(15, 14, 15, 0.7);
  width:calc(50% + 220px);
  margin-left: auto;
  margin-right: auto;
}
#dado{
  width: 100%;
}
#dado:hover{
  font-size: calc(100% - 1.5px);
}
th{
  border-radius: 4px;
  background-color: rgba(0,0,0,0.7);
  padding: 8px;
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  color: rgb(176, 208, 255);
  text-transform: uppercase;
  transition: 0.4s;
  text-align:center;
}
th:hover{
  border-radius: 4px;
  background-color: rgba(0,0,0,0.75);
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  transition: 0.4s;
  padding: 9px;
}
td{
  border-radius: 10px;
  background-color: rgba(0,0,0,0.5);
  padding: 6px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.4);
  transition: 0.4s;
}
td:hover{
  padding: 7px;
  transition: 0.4s;
}
aside {
  width: 50%;
  font-style: italic;
  float: left;
  color: white;
  margin-top: 2%;
}
section {
  font-style: italic;
  color: white;
  margin-top: 1%;
}
main {
  float: left;
  width: 50%;
}
@media (max-width: 700px) {
  fieldset{
    border-radius: 20px;
    color:white;
    font-size: 20px;
    color: rgba(156, 99, 207, 1);
    background-color: rgba(15, 14, 15, 0.9);
    width:70%;
    margin-left: auto;
    margin-right: auto;
  }
  #fielddata{
    border-radius: 5px;
    color:white;
    color: rgba(156, 99, 207, 1);
    background-color: rgba(15, 14, 15, 0.5);

    width:auto;
    margin-left: auto;
    margin-right: auto;
    overflow:scroll;
  }

  table{

    width:calc(200px + 200%);
    table-layout: fixed;
    background-color: rgba(0,0,0,0);
    background-image: linear-gradient(160deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.1) 100%);
    padding: 0px;
    border-radius: 0px;
    transition: 0.9s;
    }
    table:hover{
      width:calc(200px + 200%);
      padding: 0px;
      table-layout: fixed;
      background-color: rgba(0,0,0,0);
      background-image: linear-gradient(160deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.1) 100%);
      border-radius: 2px;
      transition: 0.6s;
    }
    td{
      border-radius: 10px;
      background-color: rgba(0,0,0,0.5);
      padding: 6px;
      color: #fff;
      border-bottom: solid 1px rgba(255,255,255,0.4);
      transition: 0.4s;
      }input[type=text], input[type=password], input[type=email]{
        border-radius: 4px;
        padding: 4px;
        font-family: monospace;
        width: 51%;
        border-width: 3px;
        border-color: rgba(0, 0, 255, 0.4);
        background-color:rgba(255, 255, 255, 0.9);
        transition: 0.6s;
      }
      input[type=text]:hover, input[type=password]:hover,input[type=email]:hover{
        border-radius: 4px;
        padding: 4px;
        font-family: monospace;
        width: 51%;
        border-width: 3px;
        border-color: rgba(0, 0, 255, 0.4);
        background-color:rgba(255, 255, 255, 0.9);
        transition: 0.6s;
      }
    }
